In [18]:
# Import the tools
import pandas as pd

from scipy.io import arff

# Plots will appear in the notebook
%matplotlib inline

### Thoracic Surgery Dataset - Cleaning

In [19]:
# Load the dataset into a dataframe
data = arff.loadarff('data/ThoraricSurgery.arff')
df = pd.DataFrame(data[0])

df.head()

,DGN,PRE4,PRE5,PRE6,PRE7,PRE8,PRE9,PRE10,PRE11,PRE14,PRE17,PRE19,PRE25,PRE30,PRE32,AGE,Risk1Yr
0,b'DGN2',2.88,2.16,b'PRZ1',b'F',b'F',b'F',b'T',b'T',b'OC14',b'F',b'F',b'F',b'T',b'F',60.0,b'F'
1,b'DGN3',3.40,1.88,b'PRZ0',b'F',b'F',b'F',b'F',b'F',b'OC12',b'F',b'F',b'F',b'T',b'F',51.0,b'F'
2,b'DGN3',2.76,2.08,b'PRZ1',b'F',b'F',b'F',b'T',b'F',b'OC11',b'F',b'F',b'F',b'T',b'F',59.0,b'F'
3,b'DGN3',3.68,3.04,b'PRZ0',b'F',b'F',b'F',b'F',b'F',b'OC11',b'F',b'F',b'F',b'F',b'F',54.0,b'F'
4,b'DGN3',2.44,0.96,b'PRZ2',b'F',b'T',b'F',b'T',b'T',b'OC11',b'F',b'F',b'F',b'T',b'F',73.0,b'T'

### Rename columns:

In [20]:
# First let's convert the column names to something more readable:
surgery_df = df.rename(columns=
                 {'DGN':'Diagnosis',
                  'PRE4':'FVC',
                  'PRE5':'FEV',
                  'PRE6':'PerfStat',
                  'PRE7':'Pain',
                  'PRE8':'Hae',
                  'PRE9':'Dys',
                  'PRE10':'Cough',
                  'PRE11':'Weak',
                  'PRE14':'TNM',
                  'PRE17':'T2Diab',
                  'PRE19':'MI',
                  'PRE25':'PAD',
                  'PRE30':'Smoker',
                  'PRE32':'Asthma',
                  'AGE':'Age',
                  'Risk1Yr':'Target'})

surgery_df.columns

Index(['Diagnosis', 'FVC', 'FEV', 'PerfStat', 'Pain', 'Hae', 'Dys', 'Cough',
       'Weak', 'TNM', 'T2Diab', 'MI', 'PAD', 'Smoker', 'Asthma', 'Age',
       'Target'],
      dtype='object')

### Count rows & columns:

In [21]:
surgery_df.shape

(470, 17)

### Check for null values:

In [9]:
surgery_df.isna().sum()

Diagnosis    0
FVC          0
FEV          0
PerfStat     0
Pain         0
Hae          0
Dys          0
Cough        0
Weak         0
TNM          0
T2Diab       0
MI           0
PAD          0
Smoker       0
Asthma       0
Age          0
Target       0
dtype: int64

#### No null values so we will not need to impute values.

### Check Datatypes:

In [10]:
surgery_df.dtypes

Diagnosis     object
FVC          float64
FEV          float64
PerfStat      object
Pain          object
Hae           object
Dys           object
Cough         object
Weak          object
TNM           object
T2Diab        object
MI            object
PAD           object
Smoker        object
Asthma        object
Age          float64
Target        object
dtype: object

### Convert the objects to numerical data type:

In [11]:
# First convert the ASCII values to strings
surgery_df["Diagnosis"] = surgery_df["Diagnosis"].str.decode('utf-8')
surgery_df["PerfStat"] = surgery_df["PerfStat"].str.decode('utf-8')
surgery_df["Pain"] = surgery_df["Pain"].str.decode('utf-8')
surgery_df["Hae"] = surgery_df["Hae"].str.decode('utf-8')
surgery_df["Dys"] = surgery_df["Dys"].str.decode('utf-8')
surgery_df["Cough"] = surgery_df["Cough"].str.decode('utf-8')
surgery_df["Weak"] = surgery_df["Weak"].str.decode('utf-8')
surgery_df["TNM"] = surgery_df["TNM"].str.decode('utf-8')
surgery_df["T2Diab"] = surgery_df["T2Diab"].str.decode('utf-8')
surgery_df["MI"] = surgery_df["MI"].str.decode('utf-8')
surgery_df["PAD"] = surgery_df["PAD"].str.decode('utf-8')
surgery_df["Smoker"] = surgery_df["Smoker"].str.decode('utf-8')
surgery_df["Asthma"] = surgery_df["Asthma"].str.decode('utf-8')
surgery_df["Target"] = surgery_df["Target"].str.decode('utf-8')
surgery_df.head()

,Diagnosis,FVC,FEV,PerfStat,Pain,Hae,Dys,Cough,Weak,TNM,T2Diab,MI,PAD,Smoker,Asthma,Age,Target
0,DGN2,2.88,2.16,PRZ1,F,F,F,T,T,OC14,F,F,F,T,F,60.0,F
1,DGN3,3.40,1.88,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,51.0,F
2,DGN3,2.76,2.08,PRZ1,F,F,F,T,F,OC11,F,F,F,T,F,59.0,F
3,DGN3,3.68,3.04,PRZ0,F,F,F,F,F,OC11,F,F,F,F,F,54.0,F
4,DGN3,2.44,0.96,PRZ2,F,T,F,T,T,OC11,F,F,F,T,F,73.0,T

### Convert to csv file:

In [12]:
surgery_df.to_csv('data/clean-arff.csv')

### Load the csv file:

In [13]:
df = pd.read_csv('data/clean-arff.csv')
df.head()

,Unnamed: 0,Diagnosis,FVC,FEV,PerfStat,Pain,Hae,Dys,Cough,Weak,TNM,T2Diab,MI,PAD,Smoker,Asthma,Age,Target
0,0,DGN2,2.88,2.16,PRZ1,F,F,F,T,T,OC14,F,F,F,T,F,60.0,F
1,1,DGN3,3.40,1.88,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,51.0,F
2,2,DGN3,2.76,2.08,PRZ1,F,F,F,T,F,OC11,F,F,F,T,F,59.0,F
3,3,DGN3,3.68,3.04,PRZ0,F,F,F,F,F,OC11,F,F,F,F,F,54.0,F
4,4,DGN3,2.44,0.96,PRZ2,F,T,F,T,T,OC11,F,F,F,T,F,73.0,T

### Drop the 'Unnamed: 0' column:

In [14]:
new_df = df.drop(columns=['Unnamed: 0'])

### Convert binary T/F categories to int:

In [15]:
new_df[['Pain', 'Hae', 'Dys', 'Cough', 'Weak', 'T2Diab', 'MI', 'PAD', 'Smoker', 'Asthma', 'Target']] = (new_df[['Pain', 'Hae', 'Dys', 'Cough', 'Weak', 'T2Diab', 'MI', 'PAD', 'Smoker', 'Asthma', 'Target']] == 'T').astype(int)
new_df.head()

,Diagnosis,FVC,FEV,PerfStat,Pain,Hae,Dys,Cough,Weak,TNM,T2Diab,MI,PAD,Smoker,Asthma,Age,Target
0,DGN2,2.88,2.16,PRZ1,0,0,0,1,1,OC14,0,0,0,1,0,60.0,0
1,DGN3,3.40,1.88,PRZ0,0,0,0,0,0,OC12,0,0,0,1,0,51.0,0
2,DGN3,2.76,2.08,PRZ1,0,0,0,1,0,OC11,0,0,0,1,0,59.0,0
3,DGN3,3.68,3.04,PRZ0,0,0,0,0,0,OC11,0,0,0,0,0,54.0,0
4,DGN3,2.44,0.96,PRZ2,0,1,0,1,1,OC11,0,0,0,1,0,73.0,1

### Convert category columns to int:

In [16]:
new_df['Diagnosis'] = new_df['Diagnosis'].str[-1:].astype(int)
new_df['PerfStat'] = new_df['PerfStat'].str[-1:].astype(int)
new_df['TNM'] = new_df['TNM'].str[-1:].astype(int)
new_df.head()

,Diagnosis,FVC,FEV,PerfStat,Pain,Hae,Dys,Cough,Weak,TNM,T2Diab,MI,PAD,Smoker,Asthma,Age,Target
0,2,2.88,2.16,1,0,0,0,1,1,4,0,0,0,1,0,60.0,0
1,3,3.40,1.88,0,0,0,0,0,0,2,0,0,0,1,0,51.0,0
2,3,2.76,2.08,1,0,0,0,1,0,1,0,0,0,1,0,59.0,0
3,3,3.68,3.04,0,0,0,0,0,0,1,0,0,0,0,0,54.0,0
4,3,2.44,0.96,2,0,1,0,1,1,1,0,0,0,1,0,73.0,1

### Save clean data to new csv:

In [22]:
new_df.to_csv('data/clean-surgery-data.csv')